# =========================================================
# VIRTUAL ENVIRONMENT
# =========================================================
venv/

# =========================================================
# DATA (tracked by DVC)
# =========================================================

# Ignore actual data contents
data/raw/**
data/processed/**
data/knowledge_base/**

# Keep DVC tracking files
!data/raw/*.dvc
!data/*.dvc
!data/.gitignore

# =========================================================
# MODELS / EMBEDDINGS (tracked by DVC)
# =========================================================

# Ignore actual model files
models/embeddings/**

# Keep DVC tracking files
!models/*.dvc
!models/.gitignore

# =========================================================
# KEEP MODEL ARTIFACTS FOR DEPLOYMENT
# =========================================================

!models/embeddings/faiss_index.bin
!models/embeddings/metadata.json
!models/embeddings/kb_with_index.csv
!models/specialist_mapper.pkl

# =========================================================
# PYTHON CACHE
# =========================================================
__pycache__/
*.pyc
*.pyo

# =========================================================
# ENVIRONMENT VARIABLES
# =========================================================
.env

# =========================================================
# JUPYTER
# =========================================================
.ipynb_checkpoints/

# =========================================================
# MLFLOW
# =========================================================
mlruns/

# =========================================================
# DVC CACHE
# =========================================================
.dvc/cache/